body{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*BEGINNING HEADER*/

header{
    background-image: linear-gradient(rgb(85, 85, 85),black);
    height: 200px;
}

.div-header{
    position: relative;
}

.div-header img{
    height: 140px;
    margin: 20px 140px;
    transition: 1.6s;
}

.div-header img:hover{
    transform: rotate(720deg);
}

.div-header nav{
    position:absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%)
}

.div-header a, li{
    display: inline;
    margin: 0 50px 0 0;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s all;
}
li a:hover{
    font-size: 1.6em;
}
/*END HEADER*/